#elasticPreviewCache {
  display: none;
}

.elastic-preview-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

.elastic-preview-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.elastic-preview-inner {
  padding: 50px 30px;
  height: 100%;
}

.elastic-preview-close,
.elastic-preview-previous,
.elastic-preview-next {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 30px;
  color: #000;
}

.elastic-preview-close {
  top: 20px;
  right: 20px;
}

.elastic-preview-previous,
.elastic-preview-next {
  margin: auto;
  top: 0;
  bottom: 0;
}

.elastic-preview-previous {
  left: 10px;
  text-align: left;
}

.elastic-preview-next {
  right: 10px;
  text-align: right;
}

/*
.elastic-preview-close::before,
.elastic-preview-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  transform: rotate(45deg);
}

.elastic-preview-close::after {
  transform: rotate(-45deg);
}

.elastic-preview-close:hover::before,
.elastic-preview-close:hover::after {
  background: #333;
}
*/

.elastic-preview-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  animation: elastic-preview-loader 0.5s infinite ease-in-out both;
}

@keyframes elastic-preview-loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
